
<h1>Hair Salon - Home</h1>
<div id="main" class="well">

  <h3>Welcome</h3>
  <p>Panel to manage stylists and clients</p>
  <span class="btn"><a href="/stylists"><w>View All Stylists</w></a><br></span>
<hr>

</div>
