<h1>Hair Salon</h1>
<div id="main" class="well">
  <h3>Welcome</h3>
  <p>This site allows you to manage hair stylists and clients. It demonstrates a one to many relationship using a database.</p>
  <span class="btn"><a href="/stylists"><w>View All Stylists</w></a><br></span>
</div>
