<h1>Your Current Hair Stylists</h1>
<div id="main" class="well">
  <a href="/">Home</a><br>
  <a href="/stylists">View All Stylists</a><br>
  <hr>
  <!-- View all your stylists -->
  <% if @stylists.any?() %>
    <h3>Here are your Stylists:</h3>

    <ul>
      <% @stylists.each() do |stylist| %>
        <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></a></li>
      <% end %>
    </ul>
      <p>Click on specific stylist to view clients</p>
  <% else %>
      <p>There are no Hair Stylists yet! - Create one below</p>
  <% end %>

  <hr>
  <h3>Add a Hair Stylist:</h3>
  <!-- Form to create more stylists -->
  <form action="/stylists" method="post">
    <input id ='name' name="name" type="text" placeholder="Stylist Name" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Add Stylist</button>
  </form>
</div>
