


<!-- Update Form -->
<form action="/stylists/<%= @stylist.id() %>/clients/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Rename your Client:</label>
  <input id="name" name="name" type="text" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Update</button>
</form>



<!-- Delete list -->
<form action="/stylists/<%= @stylist.id() %>/clients/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete Stylist</button>
</form>
